<div>
    <h1>Hola</h1>
    <input type="text" id="chatBox">
    <p></p>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/chat.js"></script>